@media not screen and (width: 400px) { /* Excludes Edge */
	:root {
		min-width: 550px;
	}
}

:root {
	--rbx-red: #f74b52;
}

p {
	margin-top: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}

:root [name='customCSS'] {
	font-family: monospace !important;
	font-size: 12px;
	line-height: 1.5;
}

.feature:not([hidden]) {
	display: flex;
}

.js-hotfixes:not(:empty) {
	margin-bottom: 15px;
	padding: 10px 15px;
	border: 1px solid var(--rbx-red);
	border-radius: 0.2em;
}

.js-hotfixes p {
	margin-bottom: 0;
}

.js-features input[type='checkbox'] {
	flex-shrink: 0;
}

.js-features input[type='checkbox']:not(*:root) {
	margin-inline-end: 0.6em;
	margin-top: 2px;
}

.js-features :not(:checked) + .info .feature-name {
	text-decoration: line-through;
}

.js-features .description {
	opacity: 80%;
}

.feature-link {
	margin: 0 0.6em;
}

.js-features .info {
	flex-grow: 1;
}

.js-features kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.8em;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

.feature-new .feature-name::after {
	display: inline-block;
	content: 'New';
	font-size: 1em;
	border: 1px solid;
	border-radius: 0.2em;
	padding: 0 0.3em;
	margin-left: 0.8em;
	text-transform: uppercase;
	color: var(--rbx-red);
}

.feature-checkbox:disabled + .info > *:not(.hotfix-notice) {
	opacity: 50%;
}

#show-debugging ~ * {
	display: none;
}

details {
	margin-bottom: 1em;
}

.screenshot {
	max-width: 100%;
	margin-bottom: 2em;
	border: 1px solid #d1d5da;
	border-radius: 0.5em;
	min-width: 2em;
	min-height: 2em;
}

.screenshot-toggle:checked ~ .screenshot-link {
	font-style: italic;
}

.screenshot-toggle:checked ~ .screenshot {
	display: block;
}
