/* Temporary solution until CSS is moved to their own files */

#rbx-bisect-dialog {
	position: fixed;
	bottom: 50%;
	right: 50%;
	transform: translate(50%, 50%);
	min-width: 380px;
	padding: 12px;
	z-index: 2147483647;
}

#rbx-avatar {
	margin: 0 6px;
	margin-right: 0;
}

#rbx-catalog-avatar {
	margin: 0;
	margin-right: 4px;
}

.rbx-user-avatar {
	border-radius: 100%;
}

.game-description li,
.game-description ul {
	list-style: revert;
	margin: -4px;
	padding: revert;
}

.rbx-btn-margin {
	margin-right: 8px;
}